doctype html
html
  head
    title kundan dance academy
    block scripts
    block style

  body
     nav#navbar 
      ul 
        img(src="../static/5459.jpg", alt="")
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Schedule]
        li #[a(href="/contact" target="_blank") Contact Us]
block content
block foot
  footer#foot copyright © kundandanceacad.com| All rights reserved
    
   